html {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

:root {
  --primary-text-color: #757575;
  --title-color: #212121;
  --accent-color: #2196f3;
  --primary-background-color: #e5e5e5;
  --secondary-background-color: rgba(255, 255, 255, 1);
  --icon-color: #afb1b8;
  --icon-accent: #2196f3;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

body {
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

/*шапка страницы*/
.header {
  background-color: var(--secondary-background-color);
  border-bottom: 1px solid #ececec;
}
/*Main nav*/

.header__container {
  display: flex;
  /* justify-content: space-between;*/
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
}

.logo {
  display: block;
  /*padding-top: 24px;
  padding-bottom: 25px;*/

  color: var(--accent-color);
  letter-spacing: 0.03em;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  text-decoration: none;
}

.logo__text {
  color: #000000;
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
}

.site-nav__list {
  display: flex;
  margin-left: 93px;
}

.site-nav__item:not(:first-child) {
  margin-left: 50px;
}

.site-nav__link {
  display: block;
  padding-top: 32px;
  /* padding-bottom: 32px; */

  color: var(--title-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;

  transition: color 250ms var(--transition-timing-function);
}

.site-nav__link--active {
  color: var(--accent-color);
}

.site-nav__link--active::after {
  content: '';
  display: flex;
  flex-direction: column;
  margin-top: 28px;
  background: var(--accent-color);

  width: 100%;
  height: 4px;
  border-radius: 2px;
}

.contacts__list {
  display: flex;
  margin-left: auto;
}

.contacts__item {
  display: inline-flex;
}

.contacts__item:not(:first-child) {
  margin-left: 50px;
}

.contacts__link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);

  transition: color 250ms var(--transition-timing-function);
}

.icon-mail {
  width: 16px;
  height: 12px;
  fill: var(--icon-color);
  margin-right: 10px;

  transition: fill 250ms var(--transition-timing-function);
}

.icon-tel {
  width: 10px;
  height: 16px;
  fill: var(--icon-color);
  margin-right: 10px;

  transition: fill 250ms var(--transition-timing-function);
}

.logo,
.site-nav__link:hover,
.site-nav__link:focus,
.contacts__link:hover,
.contacts__link:focus,
.footer .link:hover,
.footer .link:focus {
  color: var(--accent-color);
}

.contacts__link:hover .icon-mail,
.contacts__link:hover .icon-tel,
.contacts__link:focus .icon-mail,
.contacts__link:focus .icon-tel {
  fill: var(--icon-accent);
}

/* ------hero------ */

.hero {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/img_hero.jpg);
  background-color: #c4c4c4;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}

.hero__title {
  margin: 0 auto 30px auto;
  color: #ffffff;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  letter-spacing: 0.06em;
}

.hero__button {
  min-width: 200px;
  height: 50px;
  padding: 10px 32px;
  border-radius: 4px;
  background-color: var(--accent-color);
  color: #ffffff;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: inline-block;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
}

/* section */

.section {
  padding-bottom: 94px;
  padding-top: 94px;
}

.features {
  padding-bottom: 0;
}

.section__title--invisible {
  display: none;
}

.section__title {
  margin-bottom: 50px;
  color: var(--title-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.features__list {
  display: flex;
}

.features__item {
  flex-basis: calc((100% -90px) / 4);
}

.features__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f4fa;
  margin-bottom: 30px;
  border-radius: 4px;
  height: 120px;
}

.features__item:not(:first-child) {
  margin-left: 30px;
}
.features__heading {
  margin-bottom: 10px;
  color: var(--title-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.text {
  color: var(--primary-text-color);
}
.features__text {
  font-size: 14px;
  line-height: 1.71;
}

.thumb {
  display: block;
  width: 100%;
  height: auto;
}

.work__list {
  display: flex;
  justify-content: center;
  margin: -15px;
  /*margin-left: auto;
  margin-right: auto;*/
}

.work__item {
  position: relative;
  margin: 15px;
}

.work__overlay {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 70px;
  justify-content: center;
  align-items: center;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
}

.team {
  background-color: #f5f4fa;
  padding-top: 94px;
}

.team__list {
  display: flex;
  margin: -15px;
}

.team__item {
  margin: 15px;
  width: 270px;

  background-color: var(--secondary-background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team__description {
  margin-top: 30px;
  margin-bottom: 30px;
}
.team__names {
  margin-top: 30px;
  margin-bottom: 10px;
  color: var(--title-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.team__text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 16px;
}

.social__list {
  display: flex;
  justify-content: center;
}

.social__link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  padding: 0;
  border: none;
  border-radius: 50%;
  background-color: #ffffff;

  transition: background-color 250ms var(--transition-timing-function);
}

.social__item:not(:first-child) {
  margin-left: 10px;
}

.social__icon {
  width: 20px;
  height: 20px;
  fill: var(--icon-color);

  transition: fill 250ms var(--transition-timing-function);
}

.social__link:hover,
.social__link:focus {
  background-color: var(--icon-accent);
}

.social__link:hover .social__icon,
.social__link:focus .social__icon {
  fill: #ffffff;
}

.clients__list {
  display: flex;
  justify-content: center;
}

.clients__item {
  width: 170px;
  height: 92px;
}

.clients__item:not(:first-child) {
  margin-left: 30px;
}
.clients__link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--icon-color);
  box-sizing: border-box;
  border-radius: 4px;

  transition: border-color 250ms var(--transition-timing-function);
}

.clients__icon {
  width: 106px;
  height: 60px;
  fill: var(--icon-color);

  transition: fill 250ms var(--transition-timing-function);
}

.clients__link:hover,
.clients__link:focus,
.clients__link:hover .clients__icon,
.clients__link:focus .clients__icon {
  border-color: var(--icon-accent);
  fill: var(--icon-accent);
}

/*Страница портфолио*/

.portfolio {
  padding-top: 94px;
}

.filter__list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  /* margin-left: auto;
  margin-right: auto;*/
}

.filter__btn {
  display: inline-block;
  padding: 6px 22px;
  min-height: 38px;
  min-width: 73px;
  border-color: rgba(0, 0, 0, 0);
  border-radius: 4px;
  background-color: #f5f4fa;
  color: var(--title-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;

  text-align: center;
  cursor: pointer;
  font-family: inherit;
  letter-spacing: inherit;

  transition: background-color 250ms var(--transition-timing-function),
    color 250ms var(--transition-timing-function),
    box-shadow 250ms var(--transition-timing-function);
}

.filter__item:not(:first-child) {
  margin-left: 8px;
}

.filter__btn:hover,
.filter__btn:focus {
  background-color: var(--accent-color);
  color: #ffffff;
  /* shadow-middle */

  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.type__list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.type__item {
  width: 370px; /*calc((100% - 60px) / 3);*/
  margin: 15px;

  background-color: var(--secondary-background-color);
}

/*Альтернативное решение*/
/*.type .item:nth-child(3n) {
  margin-right: 0;
}

.type .item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
*/
/* Еще альтернативное решение*/
/*
.type .item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.type .item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}*/

.type__link {
  display: flex;
  flex-direction: column;

  transition: box-shadow 250ms var(--transition-timing-function);
}

.type__link:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.type__thumb {
  position: relative;
  overflow: hidden;
}

.type__overlay {
  position: absolute;
  top: 0;
  left: 0;

  background-color: rgba(33, 150, 243, 0.9);
  width: 100%;
  height: 100%;
  padding: 63px 24px;

  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  transition: transform;
  transform: translate(0, 101%);
  transition-duration: 250ms;
  transition-timing-function: var(--transition-timing-function);
}

.type__link:hover .type__overlay {
  transform: translate(0, 0);
}

.type__example {
  margin-top: 20px;
  margin-bottom: 4px;
  margin-left: 20px;
  color: var(--title-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.type__text {
  margin-bottom: 20px;
  margin-left: 20px;
  font-size: 16px;
  line-height: 1.87;
}

.type__description {
  margin: 0;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}
/*Подвал*/

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

.footer__container {
  display: flex;
}

.address__list {
  padding-top: 0;
  padding-bottom: 0;
}

.address__item:not(:last-of-type) {
  margin-bottom: 9px;
}

.footer__logo {
  display: inline-block;
  margin-bottom: 20px;
}
.logo__text--footer {
  color: #ffffff;
}

.footer .link {
  transition: color 250ms var(--transition-timing-function);
}

.address__link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}

.address__link--city {
  color: #ffffff;
}

.address__link--mail,
.address__link--tel {
  color: rgba(255, 255, 255, 0.6);
}

.subscribe__column {
  margin-top: 12px;
  margin-left: 70px;
}

.column__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;

  text-transform: uppercase;

  color: #ffffff;
  margin-bottom: 20px;
}

.footer-social {
  display: flex;
}

.social__link--footer {
  background-color: rgba(255, 255, 255, 0.1);

  transition: background-color 250ms var(--transition-timing-function);
}

.social__icon--footer {
  fill: #ffffff;
}

.mailing__column {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-top: 12px;
}

.mailing__input {
  width: 358px;
  height: 50px;
  padding: 16px 15px;

  color: rgba(255, 255, 255, 0.6);
  background: none;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;

  letter-spacing: 0.03em;

  border: 1px solid rgba(255, 255, 255, 0.3);

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  cursor: pointer;
}

.mailing__input::placeholder {
  margin-left: 15px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}

.mailing__form {
  display: flex;
  flex-direction: row;
}

.mailing__btn {
  width: 200px;
  height: 50px;
  margin-left: 12px;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.06em;

  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}

.mailing__icon {
  margin-left: 10px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  visibility: visible;
  opacity: 1;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms var(--transition-timing-function),
    visibility 250ms var(--transition-timing-function);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.7);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  min-width: 528px;
  min-height: 581px;

  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba1(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms var(--transition-timing-function);
}

.close__btn {
  display: flex;
  position: absolute;
  top: 8px;
  right: 8px;
  justify-content: center;
  align-items: center;

  width: 30px;
  height: 30px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  cursor: pointer;
}

.close__icon {
  width: 18px;
  height: 18px;
  fill: #000000;

  transition: fill 250ms var(--transition-timing-function);
}

.close__btn:hover > .close__icon,
.close__btn:focus > .close__icon {
  fill: var(--icon-accent);
}

.modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  margin-bottom: 30px;

  color: var(--title-color);
}

.modal__form {
  padding: 40px;
  margin-left: auto;
  margin-right: auto;
}

.form-field {
  position: relative;
  display: flex;
  flex-direction: column;
  /* margin-top: 10px; */

  width: 100%;
}

.form-label {
  position: absolute;
  left: 0;
  bottom: calc(100% + 4px);
  /* margin-bottom: 4px; */
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;

  letter-spacing: 0.01em;

  color: var(--primary-text-color);
}

.modal__form .label-icon {
  position: absolute;
  width: 18px;
  height: 18px;
  fill: var(--title-color);
  left: 15px;
  top: 30px;
  transition: fill 250ms var(--transition-timing-function);
}

.form-input,
.comment {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
  transition: border-color 250ms var(--transition-timing-function),
    outline 250ms var(--transition-timing-function);
}

.form-input {
  height: 40px;
  padding-left: 42px;
}

.comment {
  resize: none;
  padding: 12px 16px;
  height: 120px;
  /* margin-bottom: 20px; */
}

.comment::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}

.form-field:not(:first-child) {
  margin-top: 28px;
}

.form-input:focus,
.comment:focus,
.form-input:not(:placeholder-shown),
.comment:not(:placeholder-shown) {
  border-color: var(--accent-color);
  outline: var(--accent-color);
}

.form-input:focus + .form-label .label-icon {
  fill: var(--icon-accent);
}

.form-field__policy {
  text-align: center;
}

.comment-field {
  margin-bottom: 20px;
}

.form-field-policy a {
  color: var(--accent-color);
}

.label-checkbox {
  padding-left: 23px;
  position: relative;
}

.policy-check {
  position: absolute;
  display: inline-block;
  left: 0;
  top: 0;
  width: 16px;
  height: 15px;

  border: 2px solid #212121;
  border-radius: 2px;
  transition: border-color 250ms var(--transition-timing-function),
    background-color 250ms var(--transition-timing-function);
}

.icon-checkbox {
  position: absolute;
  left: 0;
  top: 0;
  width: 16px;
  height: 15px;
  visibility: hidden;
  transition: visibility 250ms var(--transition-timing-function);
}

.checkbox:checked + .label-checkbox .policy-check {
  border-color: var(--icon-accent);
  background-color: var(--icon-accent);
}

.checkbox:checked + .label-checkbox .icon-checkbox {
  visibility: visible;
}

.checkbox {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  position: absolute;
}

.wrapper-btn {
  text-align: center;
  margin-top: 30px;
}

.modal-send {
  min-width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;

  letter-spacing: 0.06em;
  color: #ffffff;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  cursor: pointer;
}
